
/* styles for mobil devices*/
html{
  scroll-behavior: smooth
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
}

main{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 450px;

}

body{
  background: #F5C884;
  font-family: Arial, Helvetica, Sans-serif;
  line-height:1.2;
  font-size: 16px;
  color:;
}

.wrapper{
  width: ;
  margin: auto;
  background:;
  padding:;
}

.header{
  height: 400px;
  padding-top:100px;
  width:100%;
  line-height: 150px;
  display: block s;
  margin:auto;
  position:relative;
  background: url("header/bass-guitar-header-02.png") left Top no-repeat, url("header/casette-tape-header-01.png") right top no-repeat;
}
.header h1{
  position: absolute;
  top: -100;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*img{

max-width: 100%;

} */

.cover-art{
  max-width:100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


li{
  line-height: 1.8;
  font-size: 14px ;
}
a:link{
  color:black;
}

a:visited{
  color: grey ;
}

h1{
  font-family: 'La Belle Aurore';
  text-align: center;
  font-size: 45px;
  color: #5F2718
}
 /*h1{
  text-align: center;
  font-family: 'La Belle Aurore', sans-serif;
  font-size: 45px;
  color: #5F2718; }*/

h2{
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color:#5F2718;
}

h3{
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #5F2718;
}

p{
  text-align: ;
  line-height: 1.8;

}
