.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
}


main{
  display: block;
  margin-right; auto;
  margin-left; auto;
  width: 500px;

}

body{
  background: #F5C884;
  font-family:
}

a{
  color;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}
