.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
}


main{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 500px;

}

body{
  background: #F5C884;
  font-family: Arial, Helvetica, Sans-serif ;
  line-height:1.2;
  font-size: 16px;
  color: 
}

li{
  line-height: 1.2;
}
a{
  color:black;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}
/* when adding header image css make on background right and the other left*/
